nav
{
    margin: auto;
    word-spacing: 50px;
    letter-spacing: 2px;
    text-align: center;
    background-color: rgb(145, 123, 165);
    height: 3%;
}
.intro
{
    text-align: center;
    border-style:hidden;
    background-color: rgb(171, 240, 240);
    width:70%;
    height:30%;
    margin: auto;
display: flex;
gap: 20px;
justify-content: center;
}
.lo
{
    border-style: inset;
    width:5%;
    margin: auto;
    background-color: aquamarine;
}
html
{
    background-image: url(shed.jpeg);
    background-size: cover;
}
h1
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

figcaption
{
    background-color: white;
}
.intro figure
{
    margin: 0;
    flex: 1;
    max-width: 300px;
}
.intro img
{display: block;}

.intro figcaption
{
        font-size: 14px;
        margin-top: 8px;
        background-color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        width: 70%;

}
button
{
    background-color: rgb(159, 186, 226);
     border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
.lo
{
    border-style: inset;
    width:5%;
    margin:auto;
    background-color: rgba(215, 196, 219, 0.555);
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;   
  text-align: center;
  text-decoration: none;
  display: inline-block;   
  cursor: pointer;
}
a {
    background-color: rgb(201, 163, 250);
    border-radius: 12px;
    font-size: 16px;
    text-decoration: none;
    border-style:solid ;
    border-color: rgb(99, 99, 250);
    color: black;
    font-family: monospace;
    width: 50%;
    margin: auto;
    border-top: 2px;
    
}
a :hover {
    transition: 450ms;
    background-color: green;
}